;; The tasks of the Borba standard live in borba-tooling. This file pins the
;; version this repository follows (v0.1.3); bump it with
;; `bb -x borba.tooling.stamp/run` from a clone of borba-tooling.
{:deps
 {io.github.af2b/borba-tooling
  {:git/url "https://github.com/AF2B/borba-tooling"
   :git/sha "d088e5daeae9ff381bcd9891e835196f5bb93cce"}}}
